.col-mid{
    padding: 10px;
}
.row{
    padding: 5px;
}

.btn-style{
    background-color: #000000;
}
.astyle{
    text-decoration: none;
    color: black;
}
.astyle:hover{
    background-color: black;
    color: white;
    padding: 5px;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
   
}

.image-box {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 500px;
}
.image-box img {
    max-width: 100%;
    transition: all 0.5s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.image-box:hover img {
    transform: scale(1.1);
}