<div class="container-fluid">
  <div class="carousel-inner" role="listbox">
    <!-- Slide One - Set the background image for this slide in the line below -->
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let image of images" class="slide">
        <div class="carousel-item active"> <img src="{{ image.img }}" class="img-fluid imgstyle" width="100%">
        </div>
      </div>
    </ngx-slick-carousel>
    <div class="carousel-caption d-none d-md-block">
      <!-- <ul class="navbar-nav ml-auto search_box">
        <li>
          <div ngbDropdown class="form-group searchbar has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="search" class="form-control" ngbDropdownToggle placeholder="What are you looking for?"
              (keyup)="onSearchChange($event.target.value)" [formControl]="searchField" [(ngModel)]="searchText">
            <div *ngIf="showSearchContainer" (ClickOutside)="toggleSearchContainer()" ngbDropdownMenu
              aria-labelledby="dropdownBasic1">
              <div class="dropdownresult">
                <div ngbDropdownItem class="search-result" (click)="selectValue(data)"
                  *ngFor="let data of searchArray | filterResult:searchText">
                  {{ data }}
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul> -->
      <!-- <app-search></app-search> -->
      <div class="ng-autocomplete">
        <ng-autocomplete class="has-search" [data]="searchArray" [searchKeyword]="keyword"
          (selected)='selectEvent($event)'  (inputChanged)='onChangeSearch($event)'
          placeholder="What are you looking for?" (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate" [ngModel]="searchField">
          
        </ng-autocomplete>

        <ng-template class="item" #itemTemplate let-item>
          <a [innerHTML]="item"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
        
      </div>
      <button (click)="selectValue(searchField)" class="btn">Search</button>
    </div>
  </div>
</div>