<div class="container-fluid">
  <div class="carousel-inner" role="listbox">
    <!-- Slide One - Set the background image for this slide in the line below -->
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let image of images" class="slide">
        <div class="carousel-item active"> <img src="{{ image.img }}" class="img-fluid imgstyle" width="100%">
        </div>
      </div>
    </ngx-slick-carousel>
    <div class="carousel-caption d-sm-none d-md-block" style="z-index: 1;">
      <div class="ng-autocomplete">
        <ng-autocomplete class="has-search" [data]="searchArray" [searchKeyword]="keyword"
          (selected)='selectEvent($event)'  (inputChanged)='onChangeSearch($event)'
          placeholder="What are you looking for?" (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate" [ngModel]="searchField">
          
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
          <div class="notfound" [innerHTML]="notFound"></div>
        </ng-template>
        <button (click)="selectValue(searchField)" class="btn">Search</button>
      </div>
      
    </div>
  </div>
</div>