<div class="container-fluid blue">
    <div class="row ">
        <div class="col-md-3 col-lg-3 ">
            <h4 class="mt-3 head4"><a href="#"> Shopping Mart</a></h4>
        </div>
        <div class="col-md-7 col-lg-7 ">
            <menu>
                <ul>
                    <button class="btn mr-2 active">All products</button>
                    <li>
                        <div class="d-inline-block dropdown" ngbDropdown #myDrop="ngbDropdown">
                            <button class="btn mr-2 dropbtn" id="dropdownManual" ngbDropdownAnchor>Vehicles</button>
                            <div class="dropdowncontent" ngbDropdownMenu aria-labelledby="dropdownManual">
                                <button class="btn1" ngbDropdownItem
                                    [routerLink]="[ '/getcategory', 'Vehicle' , 'bike']">Bikes</button>
                                <button ngbDropdownItem
                                    [routerLink]="[ '/getcategory', 'Vehicle' , 'car']">Cars</button>
                                <button ngbDropdownItem
                                    [routerLink]="[ '/getcategory', 'Vehicle' , 'bus']">Buses</button>
                                <button ngbDropdownItem
                                    [routerLink]="[ '/getcategory', 'Vehicle' , 'truck']">Truks</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="d-inline-block" ngbDropdown #myDrop1="ngbDropdown">
                            <button class="btn mr-2 dropdown" id="dropdownManual" ngbDropdownAnchor>Electronics</button>
                            <div class="dropdowncontent" ngbDropdownMenu aria-labelledby="dropdownManual">
                                <button ngbDropdownItem
                                    [routerLink]="[ '/getcategory', 'Electronics' , 'mobile']">Mobiles</button>
                                <button ngbDropdownItem
                                    [routerLink]="[ '/getcategory', 'Electronics' , 'tablet']">Tablets</button>
                                <button ngbDropdownItem
                                    [routerLink]="[ '/getcategory', 'Electronics' , 'laptop']">laptops</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="d-inline-block" ngbDropdown #myDrop2="ngbDropdown">
                            <button class="btn mr-2" id="dropdownManual" ngbDropdownAnchor>Furniture</button>
                            <div class="dropdowncontent" ngbDropdownMenu aria-labelledby="dropdownManual">
                                <button ngbDropdownItem [routerLink]="[ '/getcategory', 'Furniture' , 'new']">Brand
                                    New</button>
                                <button ngbDropdownItem
                                    [routerLink]="[ '/getcategory', 'Furniture' , 'old']">Old</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="d-inline-block" ngbDropdown #myDrop3="ngbDropdown">

                            <button class="btn mr-2" id="dropdownManual" ngbDropdownAnchor>Jewlery</button>

                            <div class="dropdowncontent" ngbDropdownMenu aria-labelledby="dropdownManual">
                                <button ngbDropdownItem
                                    [routerLink]="[ '/getcategory', 'Jewlery' , 'gold']">Gold</button>
                                <button ngbDropdownItem
                                    [routerLink]="[ '/getcategory', 'Jewlery' , 'silver']">Silver</button>
                                <button ngbDropdownItem
                                    [routerLink]="[ '/getcategory', 'Jewlery' , 'diamond']">Diamonds</button>
                                <button ngbDropdownItem
                                    [routerLink]="[ '/getcategory', 'Jewlery' , 'other']">Others</button>
                            </div>
                        </div>
                    </li>

                </ul>
            </menu>
        </div>
        <div class="col-md-2 col-lg-2">
            <div class="icons mt-3 ">
                <a [routerLink]="[ '/login']"><i class="fa fa-user-circle fa-2x"></i></a>

            </div>
            <div class="icons mt-3 ">
                <a [routerLink]="[ '/cart']"><i class="fa fa-shopping-cart fa-2x ist" aria-hidden='true'></i></a>
                <div class="cartvalue">
                    <b> {{cartitem}} </b>
                </div>
            </div>

        </div>

    </div>
</div>