<div class="container section1">
  <div class="d-flex justify-content-center">
    <div class="card " style="width: 80%; height: auto; margin: 20px;">
      <div class="card-body mx-auto" style="width: 75%;">
        <h4 class="card-title mb-4" style="text-align: center;">Add New Product</h4>
        <form [formGroup]="checkoutForm">
          <div class="row">
            <div class="col" style="display: flex; justify-content: center;">
              <label for="">
                Choose Product Image : <br> <input style="margin-left: 30px; margin-bottom: 10px;" multiple type="file"
                  accept='image/*' (change)="handleFileSelect($event)" required #fileInput> </label>
              <button style="display: none" (click)="fileInput.click()">
                <i class="fa fa-camera"></i>
              </button>
            </div>
            <div class="col">
              <img *ngFor='let url of urls' [src]="url" height="120px" width=" 200px">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col">
              <label>Product Name</label>
              <input type="text" formControlName="Product_Name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.Product_Name.errors }" required>
            </div>
            <div *ngIf="submitted && f.Product_Name.errors" class="invalid-feedback">
              <div *ngIf="f.Product_Name.errors.required">Product Name required</div>
            </div>
          </div>
          <div class="row">
            <label for="">
              Description : <textarea rows="4" type="text-area" formControlName="Product_Description"
                placeholder="Enter Product Details" class="form-control"></textarea></label>
          </div>
          <div class="row">
            <div class="col">
              <label for="">
                Category : <input type="text" formControlName="Category"
                 class="form-control" readonly></label>
            </div>
           <div class="col">
            <label for="">
              Category Type : <input type="text" formControlName="CategoryType"
               class="form-control" readonly></label>
           </div>
          </div>

          <div class="form-row">
            <div class="form-group col mb-3">
              <div *ngFor="let item of formData">
                <label>{{item.label}}</label>
                <select (change)="onValueChange($event.target.value)" formControlName="category" class="form-select"
                  [(ngModel)]="optionValue" [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
                  <option *ngFor="let category of item.options" value="{{category.value}}">{{category.displayValue}}
                  </option>
                </select>
                <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                  <div *ngIf="f.category.errors.required">category is required</div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row " *ngFor="let item of modelData">
            <label for="">{{item.label}}</label>
            <select (change)="onSubCategoryValueChanges($event.target.value)" formControlName="type" class="form-select" [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
              <option *ngFor="let a of item.values">{{a}}</option>
            </select>
          </div>

          <ng-container >
            <div *ngFor="let item of model">
              <label class="filterlabel">{{item.label}}</label>
              <div>
                <select class="form-select" formControlName="model">
                  <option *ngFor="let a of item.models">
                    {{a}}
                  </option>
                </select>
              </div>
            </div>
          </ng-container>

          <div class="form-row">
            <label class="filterlabel">Province</label>
            <select class="form-select" placeholder="Select Province" formControlName="province"
              (change)="changeProvince($event.target.value)">
              <option *ngFor="let count of provinceList">{{count.name}} </option>
            </select>
          </div>

          <div *ngIf="cities.length>0">
            <label class="filterlabel">City</label>
            <select class="form-select" formControlName="city" placeholder="Anycity">
              <option *ngFor="let city of cities">{{city}} </option>
            </select>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
              <label for="">
                Engine CC : <input  class="form-control" formControlName="enginecc" placeholder="Engine Capacity"
                  type="text">
              </label>
            </div>

            <div class="col-md-6">
              <label for="">
                Model Year : <input class="form-control" formControlName="year" placeholder="Manufactoring Year"
                  type="number">
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label for="">
                Color : <input  class="form-control" formControlName="color" placeholder=""
                  type="text">
              </label>
            </div>

            <div class="col-md-6">
              <label for="">
                Number Of Gears : <input class="form-control" formControlName="gear" placeholder="Enter Number Of Gears"
                  type="number">
              </label>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6">
              <label for="">
                Price : <input class="form-control" formControlName="Product_Price" placeholder="Enter Price"
                  type="text">
              </label>
            </div>
          </div>
          <br>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary btn-style" type="submit" (click)="onUpload()"> Submitt </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>