<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="d-inline-block" ngbDropdown #myDrop2="ngbDropdown">

                <button (mouseover)="changeText=true" (mouseout)="changeText=false" class="btn ml-5 mt-2 headg head4"
                    id="dropdownManual" ngbDropdownAnchor>
                    Fashion
                    <i *ngIf="changeText" class="fa fa-angle-right arrow"></i>
                </button>

                <div class="dropdowncontent" ngbDropdownMenu aria-labelledby="dropdownManual">
                    <div class="row">
                        <div class="col">
                            <button ngbDropdownItem> content </button>
                            <hr>
                            <button ngbDropdownItem> content </button>
                            <hr>
                            <button ngbDropdownItem> content </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="d-inline-block" ngbDropdown #myDrop2="ngbDropdown">

                <button (mouseover)="changeText1=true" (mouseout)="changeText1=false" class="btn ml-5 mt-2 headg head4"
                    id="dropdownManual" ngbDropdownAnchor>
                    Entertainment
                    <i *ngIf="changeText1" class="fa fa-angle-right arrow1"></i>
                </button>

                <div class="dropdowncontent" ngbDropdownMenu aria-labelledby="dropdownManual">
                    <div class="row">
                        <div class="col">
                            <button ngbDropdownItem> content </button>
                            <hr>
                            <button ngbDropdownItem> content </button>
                            <hr>
                            <button ngbDropdownItem> content </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="d-inline-block" ngbDropdown #myDrop2="ngbDropdown">

                <button (mouseover)="changeText2=true" (mouseout)="changeText2=false" class="btn ml-5 mt-2 headg head4"
                    id="dropdownManual" ngbDropdownAnchor>
                    Technology
                    <i *ngIf="changeText2" class="fa fa-angle-right arrow2"></i>
                </button>

                <div class="dropdowncontent" ngbDropdownMenu aria-labelledby="dropdownManual">
                    <div class="row">
                        <div class="col">
                            <button ngbDropdownItem> content </button>
                            <hr>
                            <button ngbDropdownItem> content </button>
                            <hr>
                            <button ngbDropdownItem> content </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="d-inline-block" ngbDropdown #myDrop2="ngbDropdown">

                <button (mouseover)="changeText3=true" (mouseout)="changeText3=false" class="btn ml-5 mt-2 headg head4"
                    id="dropdownManual" ngbDropdownAnchor>
                    Travel
                    <i *ngIf="changeText3" class="fa fa-angle-right arrow3"></i>
                </button>

                <div class="dropdowncontent" ngbDropdownMenu aria-labelledby="dropdownManual">
                    <div class="row">
                        <div class="col">
                            <button ngbDropdownItem> content </button>
                            <hr>
                            <button ngbDropdownItem> content </button>
                            <hr>
                            <button ngbDropdownItem> content </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="d-inline-block" ngbDropdown #myDrop2="ngbDropdown">

                <button (mouseover)="changeText4=true" (mouseout)="changeText4=false" class="btn ml-5 mt-2 headg head4"
                    id="dropdownManual" ngbDropdownAnchor>
                    Health
                    <i *ngIf="changeText4" class="fa fa-angle-right arrow4"></i>
                </button>

                <div class="dropdowncontent" ngbDropdownMenu aria-labelledby="dropdownManual">
                    <div class="row">
                        <div class="col">
                            <button ngbDropdownItem> content </button>
                            <hr>
                            <button ngbDropdownItem> content </button>
                            <hr>
                            <button ngbDropdownItem> content </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="d-inline-block" ngbDropdown #myDrop2="ngbDropdown">

                <button (mouseover)="changeText5=true" (mouseout)="changeText5=false" class="btn arr ml-5 mt-2 headg head4"
                    id="dropdownManual" ngbDropdownAnchor>
                    Sport
                    <i *ngIf="changeText5" class="fa fa-angle-right arrow5"></i>
                </button>

                <div class="dropdowncontent" ngbDropdownMenu aria-labelledby="dropdownManual">
                    <div class="row">
                        <div class="col">
                            <button ngbDropdownItem> content </button>
                            <hr>
                            <button ngbDropdownItem> content </button>
                            <hr>
                            <button ngbDropdownItem> content </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>