<div class="row">
  <div class="col">
    <i class="fas fa-shipping-fast white"></i>
  </div>
  <div class="col">
    <i class="fa fa-clock white"></i>
  </div>
</div>
<div class="container-fluid">
  <div class="row mr-0 ml-0">
    <div class="col-md-3 col-lg-3">
      <div class="card border-0 h-100">
        <div class="card-body">
          <h3 class="card-title">Contact Us</h3>
          <div class=" py-4">
            <p class="text-sm-start">Phone No: 03127835638</p>
            <p class="text-sm-start">Email: shoponline@gmail.com </p>
            <p class="text-sm-start">Timings: Mon-Sat ( 9am - 11pm)</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3">
      <div class="card border-0 h-100">
        <div class="card-body">
          <h3 class="card-title">Customer Service</h3>
          <div class=" py-3">
            <p class="text-start m-1"><a href="..."> Contact Us </a></p>
            <p class="text-start m-1"><a href="..."> Delivery & Orders </a></p>
            <p class="text-start m-1"><a href="..."> Returns & Exchanges </a></p>
            <p class="text-start m-1"><a href="..."> Terms & Conditions </a></p>
            <p class="text-start m-1"><a href="..."> Privacy Policy </a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3">
      <div class="card border-0 h-100">
        <div class="card-body">
          <h3 class="card-title">Products</h3>
          <div class=" py-3">
            <p class="text-start m-1"><a href="..."> Vehicles </a></p>
            <p class="text-start m-1"><a href="..."> Mobiles </a></p>
            <p class="text-start m-1"><a href="..."> Furniture </a></p>
            <p class="text-start m-1"><a href="..."> Jewlery </a></p>
            <p class="text-start m-1"><a href="..."> All Products </a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3">
      <div class="card border-0 h-100">
        <div class="card-body">
          <h3 class="card-title">Follow Us</h3>
          <div class=" py-4">
            <i class="fa fa-facebook white fa-2x"></i>
            <i class="fa fa-twitter white fa-2x"></i>
            <i class="fa fa-whatsapp white fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
