<div class="p-3 ml-auto mr-auto search">
  <app-search></app-search>
</div>

<div class="">
  <app-home-page-slider></app-home-page-slider>
</div>

<div class="portfolio">
  <h2 class="title">CLEVER PRODUCTS FOR EVERY CORNER</h2>
</div>

<div class="mobile">
  <app-mobile></app-mobile>
</div>

<div class="container-fluid vehiclecard mb-5 mt-5">
  <app-furnitures></app-furnitures>
</div>
<div class="container-fluid vehiclecard mb-5">
  <app-vehicles></app-vehicles>
</div>
<div class="container-fluid vehiclecard mb-5">
  <app-jewelry></app-jewelry>
</div>

<h2 class="title text-center mt-5"> CATEGORIES</h2>

<app-categories-list-view> </app-categories-list-view>