<div class="container-fluid">
    <div class="row">
        <div *ngIf="getcartdetails" class="col-md-12 col-lg-12">
            <table>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Description</th>
                </tr>
                
                <tr *ngFor="let getcartdetail of getcartdetails">
                    <td><img class="img1" src="{{covertPhotoUrl(getcartdetail.Product_Image)}}"></td>
                    <td>{{getcartdetail.Product_Name}}</td>
                    <td>{{getcartdetail.Product_Price}}</td>
                    <td>{{getcartdetail.Product_id}}</td>
                    <td>{{getcartdetail.Product_Description}}</td>
                    <td><button (click)="removesingleitem(getcartdetail.id)">Remove item</button></td>
                </tr>

            </table>

        </div>
        <div>
            <button class="btn" type="button" (click)="removeitem()"><i class=" icon fa fa-trash">Remove all</i></button>

        </div>
        
    </div>
</div>