<div class="container-fluid">
    <div class="row blue">
        <div class="col-md-3 col-lg-3 ">
            <h3 class="mt-2"><a href="#"> Shopping Mart</a></h3>
        </div>
        <div class="col-md-6 col-lg-6 ">
            <menu>
                <ul>
                    <li class="hover"><span>All products</span></li>
                    <li class="hover"><span>Vehicles</span> </li>
                    <li class="hover"><span>Mobiles</span></li>
                    <li class="hover"><span>Furniture</span></li>
                    <li class="hover"><span>Jewelery</span></li>
                </ul>
            </menu>
        </div>
        <div class="col-md-3 col-lg-3">
            <div class="icons mt-3 ">
                <i class="fa fa-shopping-cart fa-lg ist" aria-hidden='true'></i>
                <i class="fa fa-user-circle fa-lg"></i>
            </div>

        </div>
    </div>
</div>