.blue{
    background-color: #328CC1;
    height: 60px;
}
ul,li,a{
    list-style: none;
    display: inline;
    color: white;
    text-decoration: none;
    padding-left: 5px;
    display: inline-block;
   
}
.ist{
    margin-right: 10px;
}
.icons{
    float: right;
    color: white;
}
.btn{
    margin-top:-3px;
    color: white;
    border: none;
}
button:hover {
    color:black;
    border: none;
}