<div class="container-fluid blue">
    <div class="row ">
        <div class="col-md-3 col-lg-3 ">
            <h4 class="mt-3"><a href="#"> Shopping Mart</a></h4>
        </div>
        <div class="col-md-7 col-lg-7 ">
            <menu>
                <ul>
                    <button class="btn mr-2">All products</button>
                    <li>
                        <div class="d-inline-block dropdown" ngbDropdown #myDrop="ngbDropdown">
                            <button class="btn mr-2 dropbtn" id="dropdownManual" ngbDropdownAnchor>Vehicles</button>
                            <div class="dropdowncontent" ngbDropdownMenu aria-labelledby="dropdownManual">
                                <button class="btn1" ngbDropdownItem>Brand New</button>
                                <button ngbDropdownItem>Old</button>
                                <button ngbDropdownItem>Bikes</button>
                                <button ngbDropdownItem>Cars</button>
                                <button ngbDropdownItem>Buses</button>
                                <button ngbDropdownItem>Truks</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="d-inline-block" ngbDropdown #myDrop1="ngbDropdown">
                            <button class="btn mr-2 dropdown" id="dropdownManual" ngbDropdownAnchor>Electronics</button>
                            <div class="dropdowncontent" ngbDropdownMenu aria-labelledby="dropdownManual">
                                <button ngbDropdownItem>Mobiles</button>
                                <button ngbDropdownItem>Tablets</button>
                                <button ngbDropdownItem>laptops</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="d-inline-block" ngbDropdown #myDrop2="ngbDropdown">
                            <button class="btn mr-2" id="dropdownManual" ngbDropdownAnchor>Furniture</button>
                            <div class="dropdowncontent" ngbDropdownMenu aria-labelledby="dropdownManual">
                                <button ngbDropdownItem>Brand New</button>
                                <button ngbDropdownItem>Old</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="d-inline-block" ngbDropdown #myDrop3="ngbDropdown">
                            <button class="btn mr-2" id="dropdownManual" ngbDropdownAnchor>Jewlery</button>
                            <div class="dropdowncontent" ngbDropdownMenu aria-labelledby="dropdownManual">
                                <button ngbDropdownItem>Gold</button>
                                <button ngbDropdownItem>Silver</button>
                                <button ngbDropdownItem>Diamonds</button>
                                <button ngbDropdownItem>Others</button>
                            </div>
                        </div>
                    </li>

                </ul>
            </menu>
        </div>
        <div class="col-md-2 col-lg-2">
            <div class="icons mt-3 ">
                <a [routerLink]="[ '/login']"><i class="fa fa-user-circle fa-lg"></i></a>

            </div>
            <div class="icons mt-3 ">
                <a [routerLink]="[ '/cart']"><i class="fa fa-shopping-cart fa-lg ist" aria-hidden='true'></i></a>
                <div class="cartvalue">
                    {{cartitem}}
                </div>
            </div>



        </div>

    </div>
</div>