table {
    font-family: arial, sans-serif;
    width: 100%;
  }
  
  td, th {
    text-align: left;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .btn{
    background-color: brown;
    color: white;
    width: 150px;
    float: right;
    margin-top: 10px;
  }
  ::before{
    margin-right: 10px;
  }
  .img1{
    max-height: 15vw;
    min-height: 15vw;
    max-width :23vw;
    min-width: 23vw;
  }
  .imgstyle1{
    max-height: 15vw;
    min-height: 15vw;
    max-width: 20vw;
    min-width: 0vw;

}
.img{
  max-height: 15vw;
  min-height: 15vw;
  max-width: 20vw;
  min-width: 0vw;
}
.name{
  margin-left: 10px;
}