<div class="container-fluid">
    <div class="row">
        <div *ngIf="getcartdetails" class="col-md-12 col-lg-12">
            <table>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Description</th>
                </tr>
                <tr *ngFor="let getcartdetail of getcartdetails">
                    <td>
                        <div class="img">
                            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig3">

                                <div ngxSlickItem *ngFor="let i of getcartdetail.Product_Image" class="slide">
                                    <img class="imgstyle1 img-fluid" src="{{covertPhotoUrl(i.img)}}">
                                </div>

                            </ngx-slick-carousel>
                        </div>

                    </td>

                    <td>
                        <div class="name">
                            {{getcartdetail.Product_Name}}
                        </div>
                    </td>
                    <td>{{getcartdetail.Product_Price}}</td>
                    <td>{{getcartdetail.Product_id}}</td>
                    <td>{{getcartdetail.Product_Description}}</td>
                    <td><button (click)="removesingleitem(getcartdetail.id)">Remove item</button></td>
                </tr>

            </table>

        </div>
        <div>
            <button class="btn" type="button" (click)="removeitem()"><i class=" icon fa fa-trash">Remove
                    all</i></button>

        </div>

    </div>
</div>