<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <!-- <div class="sidebar-heading border-bottom bg-light">Start Bootstrap</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Search query items</a>
        </div> -->
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Page content-->
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12"
                    *ngFor="let product of filteredProducts ; let i = index">
                    <div class="blog grid-blog">
                        <div class="blog-image">
                            <img src="{{covertPhotoUrl(product.Product_Image)}}" class="img-fluid imgstyle1" alt="">
                        </div>
                        <div class="blog-content">
                            <ul class="entry-meta meta-item">
                                <li>
                                    <div class="post-author">
                                        <span><b>Name </b>{{product.Product_Name}}</span>
                                    </div>
                                </li>
                            </ul>
                            <h3 class="blog-title">
                                <a href=""><b>Price </b>{{product.Product_Price}}</a>
                            </h3>
                            <p class="mb-0 description">{{product.Product_Description}}</p>
                        </div>
                        <div>
                            <!-- <button class="btn1" (click)="addtocart(blog)">Add to Cart</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->