<div class="container">
    <div class="row mt-2">
        <div class="col-md-12 col-lg-12">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let image of images" class="slide">
                    <img src="{{ image.img }}" class="img-fluid imgstyle">
                </div>
            </ngx-slick-carousel>
        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" *ngFor="let product of filteredProducts ; let i = index">
            <div class="blog grid-blog">
                <div class="blog-image">
                        <img src="{{covertPhotoUrl(product.Product_Image)}}" class="img-fluid imgstyle1" alt="">
                </div>

                <div class="blog-content">
                    <ul class="entry-meta meta-item">
                        <li>
                            <div class="post-author">
                                <span><b>Name   </b>{{product.Product_Name}}</span>
                            </div>
                        </li>
                    </ul>
                    <h3 class="blog-title">
                        <a href=""><b>Price     </b>{{product.Product_Price}}</a>
                    </h3>

                    <p class="mb-0 description">{{product.Product_Description}}</p>
                </div>

                <div>
                    <!-- <button class="btn1" (click)="addtocart(blog)">Add to Cart</button> -->
                </div>
            </div>

        </div>
    </div>

</div>