
<div class="d-flex" id="wrapper">

    <div id="page-content-wrapper">
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12"
                    *ngFor="let product of filteredProducts ; let i = index">
                    <div class="blog grid-blog">
                        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig2">

                            <div ngxSlickItem *ngFor="let i of product.Product_Image" class="slide">
                                <img class="img-fluid imgstyle1" src="{{covertPhotoUrl(i['img'])}}">
                            </div>

                        </ngx-slick-carousel>
                        <div class="blog-content">
                            <ul class="entry-meta meta-item">
                                <li>
                                    <div class="post-author">
                                        <span><b> {{product.Product_Name}}</b></span>
                                    </div>
                                </li>
                            </ul>
                            <h3 class="blog-title">
                                <b>Price </b>{{product.Product_Price}}
                            </h3>
                            <p class="mb-0 description">{{product.Product_Description}}</p>
                        </div>
                        <div>
                        </div>
                        <div class="button">
                            <button class="add">Add to Cart</button>
                            <button class="like"><span>♥</span></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- <div class="container" *ngFor="let product of filteredProducts ; let i = index">
    <div class="images">
        <img src="{{covertPhotoUrl(product.Product_Image)}}" class="img-fluid imgstyle1">

    </div>
    <div class="btn">
        <button class="add">Purchase</button>
        <button class="like"><span>♥</span></button>
    </div>


    <div class="product">
        <p class="name">{{product.category}}</p>
        <h1>{{product.Product_Name}}</h1>
        <h2>{{product.Product_Price}}</h2>
        <p class="desc">{{product.Product_Description}}</p>
        <div class="buttons">
            <button class="add">Add to Cart</button>
            <button class="like"><span>♥</span></button>
        </div>
    </div>
</div> -->
