.blog {
    border: 1px solid #f0f0f0;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 1.5rem;
    position: relative;
  }
  .grid-blog .blog-image {
    margin-bottom: 20px;
  }
  .grid-blog{
    background-color: #d5d5ea
  }
  .blog-content {
    position: relative;
  }
 .post-author{
   font-size: 20px;
 }
  .entry-meta {
    color: #757575;
    font-size: 14px;
    list-style: none;
    margin-bottom: 15px;
    padding: 0;
  }
 
.imgstyle{
  max-height: 23vw;
  min-height: 23vw;
  max-width: 30vw;
  min-width: 30vw;
  padding: 37px;
}
.imgstyle1{
  max-height: 16vw;
  min-height: 15vw;
  max-width: 18vw;
  min-width: 19vw;
}
.description{
    max-height: 7vw;
    min-height: 7vw;
    max-width: 20vw;
    min-width: 20vw;
    overflow: hidden;
}

.btn{
  cursor: pointer;
  width: 50%;
  margin-top: 16px;
}
button {
  background: darken(#E0C9CB, 10%);
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  margin-top: 10px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
 
}
 button:hover {
    background: #BA7E7E;
    transition: all .4s ease-in-out;
  }

.add {
  width: 67%;
  background-color: #D9AAB7;
}

.like {
  width: 22%;
  background-color: #D9AAB7;
}

button:hover{
  background: #BA7E7E;
  color: white;
  transition: all .4s ease-in-out;
}

.focus{
  background: #BA7E7E;
  color: white;
}

