@import '../../../styles.css';

.highlight:hover{
  background-color: cadetblue;
}
.blog {
    border: 1px solid #f0f0f0;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 1.5rem;
    position: relative;
  }
  .grid-blog .blog-image {
    margin-bottom: 20px;
  }
  .grid-blog{
    background-color: #d5d5ea
  }
  .blog-content {
    position: relative;
  }
  .blog-image, .blog-image > a, .blog-image img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
  }
  .blog-image img {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    -moz-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
    -ms-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
    -o-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
    -webkit-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
    transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
  }
  .grid-blog .entry-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .entry-meta {
    color: #757575;
    font-size: 14px;
    list-style: none;
    margin-bottom: 15px;
    padding: 0;
  }
  .grid-blog .blog-title {
    font-size: 18px;
    margin: 0 0 5px;
    min-height: 43px;
  }
  .grid-blog .entry-meta li {
    margin-bottom: 10px;
  }
  .entry-meta li {
    display: inline-block;
    margin-right: 15px;
  }
  .grid-blog .post-author {
    width: 189px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .post-author a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .post-author img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    flex: 0 0 28px;
    margin-right: 5px;
  }
  .post-author a > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
  }
  .blog-title a {
    color: #272b41;
    text-decoration: none;
  }
  .grid-blog .blog-content p {
    margin: 0 0 15px;
  }
  .blog-image a:hover img {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    transform: scale(1.15);
  }
  .blog-image {
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .div-center {
    justify-content: center;
    display: flex;
  }
  .border-ra {
    border-radius: 20px;
  }
  .btn1{
    border-radius: 5px;
    background-color: rgb(163 149 148);
    margin: 5px;
    width: 83px;
    font-size: small;
    border: none;
    padding: 5px 8px;
    color: white;
  }
.imgstyle{
  max-height: 23vw;
  min-height: 23vw;
  max-width: 28vw;
  min-width: 28vw;
  padding: 37px;
 
}
.smallscreenslider{
  max-height: 40vw;
  min-height: 45vw;
  max-width: 60vw;
  min-width: 60vw;
  margin-left: 58px;
  
}
.imgstyle1{
    max-height: 15vw;
    min-height: 15vw;
    max-width : 25vw;
    min-width: 25vw;

}

.description{
    max-height: 7vw;
    min-height: 7vw;
    max-width: 20vw;
    min-width: 20vw;
    overflow: hidden;
}
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    min-width: 320px;     
    margin: 20px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}
  .layout_buttons{
    margin-bottom: 20px;
  }
  .portfolio h2 {
    flex-basis: 100%;
    text-align: center;
    margin: 50px auto 30px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    color: #111;
  }
  .card {
    width: 25%;
    overflow: hidden;
    position: relative;
  }
  .card .content {
    z-index: 2;
    width: 100%;
    position: absolute;
    bottom: -100px;
    transition: all 0.7s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100px;
    background: #111;
  }
  .card:hover .content {
    bottom: 0px;
    color: #fff;
  }
  
  .card:hover .image img {
    transform: scale(1);
  }
  
  .card .content span:first-child {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    font-size: 16px;
  }
  .card .content span:last-child {
    font-size: 14px;
    color: #18cfab;
    text-align: center;
    font-weight: 700;
  }
  
  
  @media screen and (max-width: 768px) {
    .card {
    width: 50%;
    }
    .card .content {
      bottom: 0;
    }
    .imgstyle1{
      display: none;
    }
  }
  
  @media screen and (max-width: 480px) {
    .card {
    width: 100%;
    }
  }
  
  @media only screen and (max-width: 576px) {
    .imagestyle1 {
    display: none;
    }
  }



    
     
  
