<!-- large screen slider -->
<div class="container">
  <div class="row mt-2">
    <div class="col-md-12 col-lg-12 d-lg-block d-sm-none d-none ">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let image of images" class="slide">
          <img src="{{ image.img }}" class="img-fluid imgstyle">
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>
<!-- smaller screen slider -->
<div class="container">
  <div class="row mt-2">
    <div class="col-md-12 col-lg-12 d-lg-none d-sm-block">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig1">
        <div ngxSlickItem *ngFor="let image of images" class="slide">
          <img src="{{ image.img }}" class=" smallscreenslider">
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>
<!-- Product Body -->
<div class="portfolio">
  <h2 class="title">CLEVER PRODUCTS FOR EVERY CORNER</h2>
</div>
<div class="layout_buttons">
  <button class="btn btn-white" type="button" (click)="onDisplayModeChange(1)"
    [ngClass]="{'btn-primary active': displayMode === 1}">
    <i class="fa fa-th"></i>
  </button>
  <button class="btn btn-white" type="button" (click)="onDisplayModeChange(2)"
    [ngClass]="{'btn-primary active': displayMode === 2}">
    <i class="fa fa-list"></i>
  </button>
</div>
<!-- grid -->
<div class="row" *ngIf="displayMode === 1">
  <div class="container-fluid">
    <div class="row container1">
      <div class="col-lg-3 col-md-6 col-sm-12 p-2" *ngFor="let blog of products">
        <div class="card highlight" style="width: 18rem;">
          <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig2">

            <div ngxSlickItem *ngFor="let i of blog.Product_Image" class="slide">
              <a [routerLink]="['/product', blog.Product_Name]" (click)="sendProductDetails(blog)">
                <img class=" imgstyle1 img-fluid" src="{{covertPhotoUrl(i.img)}}">
                <img class="d-lg-none d-md-none d-sm-block card-img-top img-fluid" src="{{covertPhotoUrl(i.img)}}">
              </a>
            </div>

          </ngx-slick-carousel>


          <div class="card-body">
            <h5 class="card-title">{{blog.Product_Name}}</h5>
            <h6 class="card-title" style="color: chocolate;"> Rs. {{blog.Product_Price}}</h6>
            <div class="row justify-content-center">
              <button type="button" (click)="addtocart(blog)" class="btn btn-outline-dark outline"
                data-target="#exampleModal">ADD TO CART</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- List -->
<div class="container" *ngIf="displayMode === 2">
  <div class="row" *ngFor="let blog of products">

    <div class="col-lg-4 col-md-4 col-sm-4 p-2">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig2">

        <div ngxSlickItem *ngFor="let i of blog.Product_Image" class="slide">
          <a [routerLink]="['/product', blog.Product_Name]" (click)="sendProductDetails(blog)">
            <div class=" imgstyle1">
              <img class=" imgstyle1" src="{{covertPhotoUrl(i.img)}}">
            </div>
            <img class="d-lg-none d-md-none d-sm-block card-img-top img-fluid" src="{{covertPhotoUrl(i.img)}}">
          </a>
        </div>

      </ngx-slick-carousel>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 p-2">
      <p>{{blog.Product_Description}}</p>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 p-2">
      <h5 class="card-title">{{blog.Product_Name}}</h5>
      <h6 class="card-title" style="color: chocolate;"> Rs. {{blog.Product_Price}}</h6>
      <div class="row justify-content-center">
        <button type="button" (click)="addtocart(blog)" class="btn btn-outline-dark outline"
          data-target="#exampleModal">ADD TO CART</button>
      </div>
    </div>
  </div>

</div>


<!-- 
<div class="portfolio">
  <h2 class="title">CATEGORIES</h2>
  <a href="#" class="card">
    <div class="content">
      <span class="title">Electronic Devices</span>
      <span class="category">Mobile / Laptop / Tablets</span>
    </div>
    <div class="image">
      <img
        src="https://images.unsplash.com/photo-1509395176047-4a66953fd231?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80"
        alt="" />
    </div>
  </a>

  <a href="#" class="card">
    <div class="content">
      <span class="title">UX Design</span>
      <span class="category">UX / UI / Research </span>
    </div>
    <div class="image">
      <img
        src="https://images.unsplash.com/photo-1545235617-9465d2a55698?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80"
        alt="" />
    </div>
  </a>

  <a href="#" class="card">
    <div class="content">
      <span class="title">Concepts</span>
      <span class="category">Design / Creative</span>
    </div>
    <div class="image">
      <img
        src="https://images.unsplash.com/photo-1553531888-a5892402adce?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80"
        alt="" />
    </div>
  </a>

  <a href="#" class="card">
    <div class="content">
      <span class="title">Creative & Cool</span>
      <span class="category">Design / Food</span>
    </div>
    <div class="image">
      <img
        src="https://images.unsplash.com/photo-1484980859177-5ac1249fda6f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1684&q=80"
        alt="" />
    </div>
  </a>

  <a href="#" class="card">
    <div class="content">
      <span class="title">AR-VR</span>
      <span class="category">VR / AR / Creative</span>
    </div>
    <div class="image">
      <img
        src="https://images.unsplash.com/photo-1593508512255-86ab42a8e620?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1398&q=80"
        alt="" />
    </div>
  </a>

  <a href="#" class="card">
    <div class="content">
      <span class="title">Logo</span>
      <span class="category">Design / Logo / Clothing</span>
    </div>
    <div class="image">
      <img
        src="https://images.unsplash.com/photo-1600609842388-3e2ed2a1454a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80"
        alt="" />
    </div>
  </a>

  <a href="#" class="card">
    <div class="content">
      <span class="title">Art</span>
      <span class="category">Drawing / Painting / Abstract</span>
    </div>
    <div class="image">
      <img
        src="https://images.unsplash.com/photo-1544273677-c433136021d4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80"
        alt="" />
    </div>
  </a>

  <a href="#" class="card">
    <div class="content">
      <span class="title">Native Apps</span>
      <span class="category">Coding / Mobile </span>
    </div>
    <div class="image">
      <img
        src="https://images.unsplash.com/photo-1551650992-ee4fd47df41f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80"
        alt="" />
    </div>
  </a>

</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->