<div  *ngFor="let categ of category">
    <div class="modal-header">
        <h4 class="modal-title">{{categ.displayName}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" *ngFor="let item of data">
        <h2 class="item"  [routerLink]="[categ.route,categ.id,item.route,item.id]" >{{item.displayName}} <i class="fa fa-chevron-right angle"></i> </h2>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>
</div>
