<div class="d-flex justify-content-center">
<div class="card" style="width: 50%; height: auto; margin: 10px;">
    <div class="card-body" style="width: 74%; margin-left:80px;">
      <h4 class="card-title">SignUp Form</h4>
      <form [formGroup]="signUp">
          <div class="row">
              <div class="col-auto">
                  <label for="">
                      First Name: <input type="text"  class="form-control" formControlName="firstName" name="" id="">
                    </label>
              </div>
              <div class="col-auto">
                  <label for="">
                      Last Name: <input type="text" class="form-control"  formControlName="lastName" name="" id="">
                    </label>
              </div>
          </div>
          <div class="row">
              <label for="">
                  Email: <input  class="form-control"  type="text" formControlName="emailId" name="" id="">
                </label>
          </div>
          <div class="row" formGroupName="address">
              <div class="col-auto">
                  <Label>
                      Province : <select class="form-select" style="width: 200px;" name="" id="">
                        <option value="">Select</option>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                    </select>
                    </Label>
              </div>
              <div class="col-auto">
                  <label for="">
                      City : <input class="form-control" type="text" formControlName="city" name="" id="">
                    </label>
              </div>
          </div>
          <div class="row">
              <div class="col-auto">
                  <label for="">
                      Password: <input class="form-control" type="password" formControlName="password" name="" id="">
                    </label>
              </div>
              <div class="col-auto">
                  <label for="">
                      Confirm Password: <input class="form-control" type="password" formControlName="confirmPassword" name="" id="">
                    </label>
              </div>
              <div id="passwordHelpBlock" class="form-text">
                  Your password must be 6-20 characters long, contain letters and numbers, and must not contain spaces or emoji.
              </div>
          </div>
       <br>
          <div class="d-grid gap-2">
              <button class="btn btn-primary" type="submit"> CREATE AN ACCOUNT</button>
          </div>
        </form>
     </div>
  </div>
</div>
