<div class="container">
    <div class="row mt-2">
        <div class="col-md-12 col-lg-12">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let image of images" class="slide">
                    <img src="{{ image.img }}" class="img-fluid imgstyle">
                </div>
            </ngx-slick-carousel>
        </div>
    </div>
</div>


<h2 class="text-center">Clever products for every corner</h2>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" *ngFor="let blog of products">
            <div class="blog grid-blog">
                <div class="blog-image">

                    <a href="">
                        <img src="{{blog.blogImg}}" class="img-fluid imgstyle1" alt="">
                    </a>
                </div>

                <div class="blog-content">
                    <ul class="entry-meta meta-item">
                        <li>
                            <div class="post-author">
                                <span><b>Name </b>{{blog.Name}}</span>
                            </div>
                        </li>
                    </ul>
                    <h3 class="blog-title">
                        <a href=""><b>Price</b>{{blog.Price}}</a>
                    </h3>

                    <p class="mb-0 description">{{blog.desp}}</p>
                </div>

                <div>
                    <button class="btn1">Add to Cart</button>
                    <button (click)="onLoadActive()" class="btn1">Buy</button>
                </div>
            </div>

        </div>
    </div>

</div>