.blog {
    border: 1px solid #f0f0f0;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 1.5rem;
    position: relative;
  }
  .grid-blog .blog-image {
    margin-bottom: 20px;
  }
  .grid-blog{
    background-color: #d5d5ea
  }
  .blog-content {
    position: relative;
  }
  .blog-image, .blog-image > a, .blog-image img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
  }
  .blog-image img {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    -moz-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
    -ms-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
    -o-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
    -webkit-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
    transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
  }
  .grid-blog .entry-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .entry-meta {
    color: #757575;
    font-size: 14px;
    list-style: none;
    margin-bottom: 15px;
    padding: 0;
  }
  .grid-blog .blog-title {
    font-size: 18px;
    margin: 0 0 5px;
    min-height: 43px;
  }
  .grid-blog .entry-meta li {
    margin-bottom: 10px;
  }
  .entry-meta li {
    display: inline-block;
    margin-right: 15px;
  }
  .grid-blog .post-author {
    width: 189px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .post-author a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .post-author img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    flex: 0 0 28px;
    margin-right: 5px;
  }
  .post-author a > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
  }
  .blog-title a {
    color: #272b41;
    text-decoration: none;
  }
  .grid-blog .blog-content p {
    margin: 0 0 15px;
  }
  /* // .blog-image:hover img {
  //   transform: scale(1.15);
  // } */
  .blog-image a:hover img {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    transform: scale(1.15);
  }
  .blog-image {
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .div-center {
    justify-content: center;
    display: flex;
  }
  .border-ra {
    border-radius: 20px;
  }
  .btn1{
    border-radius: 5px;
    background-color: rgb(163 149 148);
    margin: 5px;
    width: 83px;
    font-size: small;
    border: none;
    padding: 5px 8px;
    color: white;
  }
.imgstyle{
  max-height: 23vw;
  min-height: 23vw;
  max-width: 30vw;
  min-width: 30vw;
  padding: 37px;
}
.imgstyle1{
    max-height: 15vw;
    min-height: 15vw;
    max-width :17vw;
    min-width: 17vw;
    
}
.description{
    max-height: 7vw;
    min-height: 7vw;
    max-width: 20vw;
    min-width: 20vw;
    overflow: hidden;
}
