.heading1{
    color: blue;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px !important;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 20px;
    cursor: pointer;
}
    
.dropdown-toggle::after {
    display: none;
}
.headg{
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
}
.head4{
    color: black;
}

button:hover {
    color:black;
    border: none;
}
.dropdown:hover .dropdowncontent {
    display: block;
  }

.dropdowncontent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100% !important;
  left: 0;
  margin-left: 24px;
  background-color: transparent;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.arrow{
  margin-left: 50px;
  transform: rotateZ(90deg);
  transition: all 0.4s ease;
}
/* .container1 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
  width: 90%;
  height: 90vh;
}

.container1 i {
  padding: 20px;
  display: block;
  font-size: 100px;
  
} */


@media screen and (max-width:576px){
  .head4{
      display: block;
  }
  .search_box{
    display: none;
  }
}

