<div class="d-flex justify-content-between d-md-none p-3 pb-2 border fixed-bottom" id="footer1">
    <div class="d-flex justify-content-between" style="width: 35%;">
        <div class="text-center" routerLink="[/]">
            <img src="/assets/Group 2076.svg" height="23" alt="">
            <br>
            <span class="f-11 text-secondary">Home</span>
        </div>

        <div class="text-center" (click)="messageComponent()">
            <img src="/assets/mail_black_24dp.svg" alt="">
            <br><span class="f-11 text-secondary">Chat</span>
        </div>

    </div>
    <button (click)="addProduct()" class="btn position-absolute rounded-circle scan">
        <i class="fa fa-plus fa-2x addbutton"></i>
    </button>
    <div class="d-flex w-45 justify-content-between">
        <div class="text-center ml-6">
            <i (click)="cartComponent()" class="fa fa-shopping-cart cart"></i>
            <br>
            <span class="f-11 text-secondary">Cart</span>
        </div>
        <div ngbDropdown placement="top-right" class="text-center">
            <img ngbDropdownToggle  src="assets/profile.png" width="27px">
            <br>
            <span class="f-11 text-secondary">Profile</span>
            <div class="" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <h3 (click)="myProfile()" ngbDropdownItem>My Profile</h3>
                <h3 (click)="getUserData()" ngbDropdownItem>Update Profile</h3>
                <h3 (click)="logout()" ngbDropdownItem>Logout</h3>
            </div>
        </div>
    </div>
</div>