<div class="d-flex justify-content-between d-md-none p-3 pb-2 border fixed-bottom" id="footer1">
    <div class="d-flex justify-content-between" style="width: 35%;">
        <div class="text-center">
            <img src="/assets/Group 2076.svg" height="23" alt="">
            <br>
            <span class="f-11 text-secondary">Home</span>
        </div>

        <div class="text-center">
            <img src="/assets/Group 4092.svg" alt="">
            <br>
            <span class="f-11 text-secondary">Feeds</span>
        </div>

    </div>
    <button (click)="addProduct()" class="btn position-absolute rounded-circle scan">
        <i class="fa fa-plus fa-2x addbutton"></i>
    </button>
    <div class="d-flex w-45 justify-content-between">
        <div class="text-center ml-6">
            <img src="/assets/support_agent.svg" alt="">
            <br>
            <span class="f-11 text-secondary">Alerts</span>
        </div>
        <div class="text-center">
            <img src="/assets/mail_black_24dp.svg" alt="">
            <br><span class="f-11 text-secondary">Chat</span>
        </div>
    </div>
</div>