<div class="row" *ngFor="let blog of product">
  <!-- Left Column -->
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 left">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig2">

      <div ngxSlickItem *ngFor="let i of blog.Product_Image" class="slide">
        <img class="prod_img" src="{{covertPhotoUrl(i['img'])}}" alt="">
      </div>

    </ngx-slick-carousel>
  </div>


  <!-- Right Column -->
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 right">
    <!-- Product Description -->
    <div class="product-description">
      <span>{{blog.brand}}</span>
      <h1>{{ blog.Product_Name}}</h1>
      <p>{{ blog.Product_Description}}</p>
    </div>

    <!-- Product Configuration -->
    <div class="product-configuration">
      <div class="product-info">
        <p>Model Number : <span> {{blog.Model_number}} </span> </p>
        <p>Location : <span>{{ blog.province | uppercase }}-{{blog.city | uppercase }}</span> </p>
      </div>
    </div>

    <!-- Product Pricing -->
    <div class="product-price">
      <span>Rs.<span style="color:#df6d02;">{{blog.Product_Price}} </span> </span>
      <hr>
      <select class="s-quantity form-select my-2" name="" id="">
        <option value=""> Select Quantity</option>
        <option value=""> 1 </option>
        <option value=""> 2 </option>
        <option value=""> 3 </option>
        <option value=""> 4 </option>
        <option value=""> 5 </option>
      </select>
      <div class="section">
        <div class="contact">
          <a href="tel:{{blog.phone}}" class="cart-btn mt-3">Contact Seller</a>
        </div>
        <div class="buy">
          <a (click)="Buy(blog.Product_Price)" class="cart-btn mt-3"> Buy Product</a>
        </div>
      </div>
        
    </div>
  </div>
</div>

<app-product-related-carousel [productX]="products"></app-product-related-carousel>