.col{
    padding: 20px;
}
.row{
    padding: 5px;
}
.password{
    margin-top: -25px;
    float: right;
}
.btn{
    background-color: #000000;
}
.astyle{
    text-decoration: none;
    color: black;
}
.astyle:hover{
    background-color: black;
    color: white;
    padding: 5px;
}