.col{
    padding: 20px;
}
.row{
    padding: 5px;
}
.password{
    margin-top: -25px;
    float: right;
}
.btn-style{
    background-color: #0B3C5D; 
    /*022140  */
}
.astyle{
    text-decoration: none;
    color: black;
}
.astyle:hover{
    background-color: black;
    color: white;
    padding: 5px;
}