<div class="container" style="margin-top:50px; margin-bottom:30px;">
    <div class="row">
        <div class="col-md-3">
            <div class="card-sl">
                <div class="box">
                    <img
                        src="https://images.unsplash.com/photo-1552642762-f55d06580015?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80" />
                    <div class="box-content">
                        <div class="content">
                            <h3 class="title">Vehicle Category</h3>
                            <span class="post"> Click links below to view Items </span>
                        </div>
                    </div>
                </div>
                <a class="card-action"><i class="material-icons">directions_car</i></a>
                <div class="card-heading">
                    Vehicle
                </div>
                <div class="card-text">
                    <ul>
                        <a href="">
                            <li> Cars For Sale </li>
                        </a>
                        <a href="">
                            <li> Motorbikes For Sale </li>
                        </a>
                        <a href="">
                            <li> Parts Accessories</li>
                        </a>
                        <a href="">
                            <li> Trucks & Transport </li>
                        </a>
                        <a href="">
                            <li> Other Vehicles </li>
                        </a>
                        <a href="">
                            <li> Rental Cars </li>
                        </a>
                        <a href="">
                            <li> Other </li>
                        </a>
                    </ul>
                </div>
                <a href="#" class="card-button"> </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-sl">
                <div class="box">
                    <img
                        src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1652&q=80" />
                    <div class="box-content">
                        <div class="content">
                            <h3 class="title">Electronic Category</h3>
                            <span class="post"> Click links below to view Items </span>
                        </div>
                    </div>
                </div>
                <a class="card-action" href="#">
                    <mat-icon>mobile_friendly</mat-icon>
                </a>
                <div class="card-heading">
                    Electronic
                </div>
                <div class="card-text">
                    <ul>
                        <a href="">
                            <li> Mobile Phones </li>
                        </a>
                        <a href="">
                            <li> Tablets </li>
                        </a>
                        <a href="">
                            <li> Mobile - Tablet Accessories</li>
                        </a>
                        <a href="">
                            <li> Mobile - Tablet Parts </li>
                        </a>
                        <a href="">
                            <li> Laptop </li>
                        </a>
                        <a href="">
                            <li> Laptop Accessories </li>
                        </a>
                        <a href="">
                            <li> Other </li>
                        </a>
                    </ul>
                </div>
                <a href="#" class="card-button"> </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-sl">
                <div class="box">
                    <img
                        src="https://images.unsplash.com/photo-1560518883-ce09059eeffa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=666&q=80" />
                    <div class="box-content">
                        <div class="content">
                            <h3 class="title">Property Category</h3>
                            <span class="post"> Click links below to view Items </span>
                        </div>
                    </div>
                </div>

                <a class="card-action" href="#"><i class="material-icons">home</i>
                </a>
                <div class="card-heading">
                    Property Sale
                </div>
                <div class="card-text">
                    <ul>
                        <a href="">
                            <li> Apartments For Sale</li>
                        </a>
                        <a href="">
                            <li> Commercial For Sale </li>
                        </a>
                        <a href="">
                            <li> Land For Sale</li>
                        </a>
                        <a href="">
                            <li> Office For Sale </li>
                        </a>
                        <a href="">
                            <li> Apartments For Rent </li>
                        </a>
                        <a href="">
                            <li> Office For Rent </li>
                        </a>
                        <a href="">
                            <li> Other </li>
                        </a>
                    </ul>
                </div>
                <a href="#" class="card-button"></a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-sl">
                <div class="box">
                    <img
                        src="https://images.unsplash.com/photo-1550581190-9c1c48d21d6c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=698&q=80" />
                    <div class="box-content">
                        <div class="content">
                            <h3 class="title">Furniture Category</h3>
                            <span class="post"> Click links below to view Items </span>
                        </div>
                    </div>
                </div>
                <a class="card-action" href="#"><i class="material-icons">home_repair_service</i> </a>
                <div class="card-heading">
                    Furniture
                </div>
                <div class="card-text">
                    <ul>
                        <a href="">
                            <li> Furniture</li>
                        </a>
                        <a href="">
                            <li> Curtains </li>
                        </a>
                        <a href="">
                            <li> Home Furnishing</li>
                        </a>
                        <a href="">
                            <li> Carpets & Flooring </li>
                        </a>
                        <a href="">
                            <li> Fans & Blowers </li>
                        </a>
                        <a href="">
                            <li> Garden & Patio </li>
                        </a>
                        <a href="">
                            <li> Other </li>
                        </a>
                    </ul>
                </div>
                <a href="#" class="card-button"></a>
            </div>
        </div>
    </div>
</div>