.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
}
.colorset{
    background-color: black !important;
}
/* @media screen and (max-width:600px) {
    .footer{
        display: none;
    }
} */