<mdb-navbar SideClass="navbar navbargrey navbar-expand-lg navbar-dark " [containerInside]="false">
    <h4 class=" heading1 mt-1 mr-5" [routerLink]="['']">Shopping Mart</h4>

    <links>

        <ul class="navbar-nav ml-auto search_box">
            <li>
                <div class="form-group searchbar has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="search" class="form-control" placeholder="What are you looking for?">
                </div>
            </li>
        </ul>

        <ul class="navbar-nav icons">
            <li class="nav-item">
                <a class="nav-link">
                    <button (click)="addProduct()" class="sellbtn">
                        <i class="fa fa-plus plus"></i>
                        <b>SELL</b>
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link cart">
                    <div class="Shopping">
                        <div class="cartvalue">
                            <b> {{cartitem}} </b>
                        </div>
                        <div class="carticon">
                            <i (click)="cartComponent()" class="fa fa-shopping-cart fa-2x shopping_icon"
                                aria-hidden='true'></i>
                        </div>

                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <div ngbDropdown class="d-inline-block account">
                        <img class="btn1" id="dropdownBasic1" (click)="getUserData()" ngbDropdownToggle
                            src="assets/profile.png" width="39px">
                        <div *ngFor="let user of userdata" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <h3 ngbDropdownItem>{{user.firstName}}</h3>
                            <h3 ngbDropdownItem>{{user.email}}</h3>
                            <button (click)="logout()" ngbDropdownItem><b>Logout</b></button>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </links>
</mdb-navbar>
