<div class="d-flex" id="wrapper" style="background-color: #eee">
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light"> Filters</div>
        <div class="list-group list-group-flush">
            <div class="filterList">

                <div *ngIf="category == 'Electronics'">
                    <p></p>
                    <div *ngFor="let brand of ProductFiltersProperty.MobileBrands">
                        <input type="checkbox" name="BrandList" [value]="brand.BrandName" (change)="OnChange($event)"
                            [(ngModel)]="brand.Checked">{{ brand.BrandName }}
                    </div>
                    <p></p>
                    <div *ngFor="let brand of ProductFiltersProperty.MobileOs">
                        <input type="checkbox" name="OSList" [value]="brand.OSName" (change)="OnChange($event)"
                            [(ngModel)]="brand.Checked">{{ brand.OSName }}
                    </div>
                    <p></p>
                    <div *ngFor="let brand of ProductFiltersProperty.Color">
                        <input type="checkbox" name="ColorList" [value]="brand.color" (change)="OnChange($event)"
                            [(ngModel)]="brand.Checked">{{ brand.color }}
                    </div>
                </div>
                <div *ngIf="category == 'Vehicle'">
                    <div *ngFor="let brand of ProductFiltersProperty.CarBrands">
                        <input type="checkbox" name="BrandList" [value]="brand.BrandName" (change)="OnChange($event)"
                            [(ngModel)]="brand.Checked">{{ brand.BrandName }}
                    </div>
                    <p></p>
                    <div *ngFor="let brand of ProductFiltersProperty.Color">
                        <input type="checkbox" name="ColorList" [value]="brand.color" (change)="OnChange($event)"
                            [(ngModel)]="brand.Checked">{{ brand.color }}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Page content wrapper-->
    <!-- <div id="page-content-wrapper">
       
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>

            </div>
        </nav>
        </div> -->

    <!-- Page content-->
    <div class="container-fluid">

        <app-product-list [getProductList]=filteredProducts> </app-product-list>

    </div>
</div>
<app-categories-list-view> </app-categories-list-view>