<section class="pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mb-5">Product Related Posts </h3>
            </div>

            <div class="col-12">

                <div class="row row-card">                  
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                        responsive="breakpoints">
                        <div ngxSlickItem class="slide" *ngFor="let blog of productX">
                            <div class="card">
                                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel"
                                    [config]="slideConfig1">
                                    <div ngxSlickItem *ngFor="let i of blog.Product_Image" class="slide">                                       
                                            <img class=" prod_img" src="{{covertPhotoUrl(i.img)}}">
                                            <!-- <img class="d-lg-none d-md-none d-sm-block card-img-top img-fluid"
                                                src="{{covertPhotoUrl(i.img)}}">                                     -->
                                    </div>
                                </ngx-slick-carousel>
                                <div class="card-body">
                                    <h5 class="card-title">{{blog.Product_Name}}</h5>
                                    <h6 class="card-title" style="font-weight: 400;"> Rs.
                                        <span style="color: chocolate; "> {{blog.Product_Price}} </span>
                                    </h6>
                                    <p class="card-text truncate">{{ blog.Product_Description}}</p>
                                </div>

                                <div >
                                    <a type="button" class="btn btn-primary"  (click)="sendProductDetails(blog)">View Details</a>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
</section>
