<div class="border-end bg-white p-3 pt-0" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">
        <h1>Filters</h1>
    </div>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="list-group list-group-flush">
            <label class="filterlabel">Province</label>
            <div>
                <select class="form-select" placeholder="Select Province" formControlName="province"
                    (change)="changeProvince($event.target.value)">
                    <option *ngFor="let count of provinceList">{{count.name}} </option>
                </select>
            </div>

            <div>
                <label class="filterlabel">City</label>
                <select class="form-select" formControlName="city" placeholder="Anycity"
                    [attr.disabled]="istrue ? '' : null">
                    <option *ngFor="let city of cities">{{city}} </option>
                </select>
            </div>

            <form [formGroup]="dynamicFormGroup">
                <div *ngFor="let control of dynamicFormArray">
                    <span *ngFor="let item of control">
                        <div>
                            <label class="filterlabel"> {{ item.label}} </label>
                            <select class="form-select" [formControlName]="item.id">
                                <option *ngFor="let val of item.value.split(',')" value="{{val}}">
                                    {{val}}
                                </option>
                            </select>
                        </div>
                    </span>
                </div>
            </form>
            <div>
                <button class="btn-search mt-3 form-control" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>

<ng-template #content let-modal>
<div class="custom-modal-css">

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Filters</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="list-group list-group-flush">
                <label class="filterlabel">Province</label>
                <div>
                    <select class="form-select" placeholder="Select Province" formControlName="province"
                        (change)="changeProvince($event.target.value)">
                        <option *ngFor="let count of provinceList">{{count.name}} </option>
                    </select>
                </div>

                <div>
                    <label class="filterlabel">City</label>
                    <select class="form-select" formControlName="city" placeholder="Anycity"
                        [attr.disabled]="istrue ? '' : null">
                        <option *ngFor="let city of cities">{{city}} </option>
                    </select>
                </div>

                <form [formGroup]="dynamicFormGroup">
                    <div *ngFor="let control of dynamicFormArray">
                        <span *ngFor="let item of control">
                            <div>
                                <label class="filterlabel"> {{ item.label}} </label>
                                <select class="form-select" [formControlName]="item.id">
                                    <option *ngFor="let val of item.value.split(',')" value="{{val}}">
                                        {{val}}
                                    </option>
                                </select>
                            </div>
                        </span>
                    </div>
                </form>
                <div>
                    <hr>
                    <button class="btn-search mt-3 form-control" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
</ng-template>

<button class="btn btn-lg d-sm-block d-md-none d-lg-none " (click)="open(content)">Filters</button>
<!-- -->


<!-- <div>
                <label class="filterlabel">Condition</label>
                <select class="form-select" formControlName="condition">
                    <option>--select--</option>
                    <option>Old</option>
                    <option>New</option>
                </select>
            </div> -->