<div class="border-end bg-white p-3 pt-0" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">
        <h2>Filters</h2>
    </div>
    <h2 class="sidebar-heading border-bottom">Location</h2>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="list-group list-group-flush">
            <label class="filterlabel">Province</label>
            <div>
                <select class="form-select" placeholder="Select Province" formControlName="province"
                    (change)="changeProvince($event.target.value)">
                    <option *ngFor="let count of provinceList">{{count.name}} </option>
                </select>
            </div>

            <div *ngIf="cities.length>0">
                <label class="filterlabel">City</label>
                <select class="form-select" formControlName="city" (change)="onStateChange($event.target.value)" placeholder="Anycity">
                    <option *ngFor="let city of cities">{{city}} </option>
                </select>
            </div>

            <div>
                <label class="filterlabel">Condition</label>
                <select class="form-select" formControlName="condition">
                    <option>--select--</option>
                    <option>Old</option>
                    <option>New</option>
                </select>
            </div>

            <div *ngFor="let item of filters">
                <ng-container *ngFor="let companyName of item.filters">
                    <label class="filterlabel">{{companyName.label}}</label>
                    <div>
                        <select class="form-select" formControlName="companyName"
                            (change)="onValueChange($event.target.value)">
                            <option hidden value="" disabled selected>--select-- </option>
                            <option *ngFor="let a of companyName.options" [value]="a.displayValue">
                                {{a.displayValue}}
                            </option>
                        </select>
                    </div>
                </ng-container>
            </div>

            <ng-container *ngIf="modelData.length>0">
                <div *ngFor="let item of modelData">
                    <label class="filterlabel">{{item.label}}</label>
                    <div>
                        <select class="form-select" formControlName="model">
                            <option *ngFor="let a of item.models">
                                {{a}}
                            </option>
                        </select>
                    </div>
                </div>
            </ng-container>

            <div class="row">
                <label class="filterlabel" for="">Price(RS)</label>
                <div class="col-6 m-0 p-0 minprice">
                    <input type="number" class="form-control" formControlName="minprice" placeholder="Min Price">
                </div>
                <div class="col-6 m-0 p-0 maxprice">
                    <input type="number" class="form-control" formControlName="maxprice" placeholder="Max Price">
                </div>

            </div>
            <div>
                <button class="btn-search mt-3 form-control" type="submit">Search</button>
            </div>
        </div>
    </form>

</div>