.container {
    width: 100%;
    height: 100% !important;
}
.name{
color: silver;
font-size: 18px;
}
.profielbtn{
    float: right;
    padding: 5px 10px;
    background-color: silver;
    color: white;
    border: none;
    margin-top: 20px;
}
.img{
    width: 100px;
    height: 104px;
    border-radius: 100px;
    margin-top: 15px;
}
.firstname{
    color: silver;
    font-size: 20px;
    margin-left: -5px;
}
