<div class="container-fluid" style="background-color: #19181A; color: white; font-size: 16px;">

  <div class="row center pt-3">
    <div class="col">
      <h5><i class="fa fa-shipping-fast"></i>  &#xf48b; FLAT SHIPPING RATE</h5>
    <p> PKR 200 on all Orders </p>
    </div>
    <div class="col">
      <h5><i class="fa fa-clock-o" ></i> SUPPORT 24/7</h5>
    <p>Available 24 hours, a day 7 days a week</p>
    </div>
  </div>
  <hr>
  <div class="row center">
    <div class="col-md-4">
   <h5>   BE THE FIRST TO KNOW</h5>
      <p>Sign up for our newsletter to receive updates on special offers, news and events.</p>
    </div>
      <div class="col-md-4 mt-4">
        <div class="input-group mb-3 form-group">
          <span class="fa fa-envelope form-control-icon"></span>
          <input type="text" class="form-control" placeholder="Email Address"> 
          <div class="input-group-append">
           <button class="input-group-text" style="background-color: #c2cad0;"> SUBSCRIBE </button>
          </div>
        </div>
      </div>
   
    <div class="col-md-4">
      <!-- <h5>FOLLOW US</h5>
      <i class="fa fa-facebook-square white fa-2x icons"></i>
      <i class="fa fa-twitter-square white fa-2x icons"></i>
      <i class="fa fa-whatsapp white fa-2x icons"></i> -->
    </div>
  </div>

<div class="row center pt-3">
  <div class="col-md-4 decor">
    <h4> GET IN TOUCH</h4>
    <div>
      <table>
        <th>ADDRESS</th>
        <tr>Abbottabad, Pakistan</tr>
        <th>EMAIL</th>
        <tr>shoppingmart@gmail.com</tr>
        <th>CONTACT NO</th>
        <tr>03127835638 </tr>
      </table>    
    </div>
    
  </div>
  <div class="col-md-4 col-sm-3 decor">
    <h4 > CUSTOMER SERVICE </h4>
    <div>
      <ul>
        <li><a href="..."> Contact Us </a> </li>
        <li><a href="..."> Delivery & Orders </a> </li>
        <li><a href="..."> Returns & Exchanges </a> </li>
        <li><a href="..."> Terms & Conditions </a> </li>
        <li><a href="..."> Privacy Policy </a> </li>
      </ul>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 decor">
    <h4 > CATEGORIES </h4> 
    <div>
      <ul>
        <li><a href="..."> Electronic</a> </li>
        <li><a href="..."> Sports </a> </li>
        <li><a href="..."> Vehicle </a> </li>
        <li><a href="..."> Furniture </a> </li>
      </ul>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 decor">
   <h4> PRODUCTS </h4> 
   <div>
    <ul>
      <li><a href="..."> Mobile </a> </li>
      <li><a href="..."> Laptop </a> </li>
      <li><a href="..."> Tablet </a> </li>
      <li><a href="..."> Car </a> </li>
      <li><a href="..."> Bike </a> </li>
    </ul>
   </div>
  
  </div>
</div>

  
  <hr>
<div class="row ">
  <div class="col">
    &copy; Shopping Mart 2021
  </div>
  <div class="col me-5" style="text-align:right">
    <i class="fa fa-facebook-square white fa-2x icons"></i>
    <i class="fa fa-twitter-square white fa-2x icons"></i>
    <i class="fa fa-whatsapp white fa-2x icons"></i>
  </div>
</div>
</div>