<section class="section">
    <div class="top-content">
      <img src="assets/slider-home/en_banner-01.png" width="100%" alt="">  
            </div>
            <br><br>
    <main class="page-content pb-5">    
        <div class="card">
          <div class="content">
            <h2 class="title">Mountain View</h2>
            <p class="copy"></p>
            <button class="btn">Shop Now</button>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <h2 class="title">To The Beach</h2>
            <p class="copy"></p>    
            <button class="btn">Shop Now</button>      
          </div>
        </div>
        <div class="card">
          <div class="content">
            <h2 class="title">Desert Destinations</h2>
            <p class="copy"></p>
            <button class="btn">Shop Now</button>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <h2 class="title">Explore The Galaxy</h2> 
            <p class="copy"></p>         
            <button class="btn">Shop Now</button>
          </div>
        </div>
      </main>
      
    </section>