.carousel-item {
    height                 : 40vh;
    min-height             : 160px;
    background             : no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    -o-background-size     : cover;
    background-size        : cover;
  }
  
  .carousel-caption {
    top      : 44%;
    margin-left: 50px;
    transform: translateY(-50%);
    bottom   : initial;
  }
  
  .container-fluid {
    margin : 0px;
    padding: 0px;
  }
  .ng-autocomplete{
    margin-left: 0px;
    width: 96%;
  }
  .dropdown-menu {
    position: absolute;
    width: 88%;  
  }
  .search-result{
    cursor: pointer;
  }
  .dropdownresult{
    height: 40vh;
    overflow-x:hidden;
    overflow-y: scroll;
  }
  a:hover{
    color: black !important;
  }
  a{
    text-align: left !important;
  }
  .btn{
    margin-top: -68px;
    padding: 8px 11px;
    opacity: 0.7;
    margin-left: 81%;
    margin-right: auto;
    background-color: #0b6f4d;
    border-left: 0px;
    font-size: 15px;
    color: antiquewhite;
    border-bottom-right-radius: 13px;
    border-top-right-radius: 11px;
    font-weight: 600;
  }
  .notfound{
    color: red;
    font-size: 20px;
  }
.autocomplete-container .input-container input {
    border: 1px solid grey !important;
    border-radius: 14px !important;
}
@media screen and (max-width:600px) {
  .btn{
    margin-left: 81%;
  }
  
}