<div class="container-fluid">
    <div class="row">
        <div class="ng-autocomplete">
            <ng-autocomplete [data]="searchArray" [searchKeyword]="keyword"
                (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                placeholder="What are you looking for?" (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate" [ngModel]="searchField">

            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
                <a [innerHTML]="item"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
                <div class="notfound" [innerHTML]="notFound"></div>
            </ng-template>
            <button (click)="selectValue(searchField)" class="btn">Search</button>
        </div>
    </div>
</div>