<div class="container bg-trasparent my-4 p-3" style="position: relative;">
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
        <div class="col" *ngFor="let product of getProductList ; let i = index">
            <div class="card h-100 shadow-sm">
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig2">
                    <div ngxSlickItem *ngFor="let i of product.Product_Image" class="slide">
                        <img class="size-img" src="{{covertPhotoUrl(i['img'])}}">
                    </div>

                </ngx-slick-carousel>
                <div class="label-top shadow-sm">{{ product.type }}</div>
                <div class="card-body">
                    <p class="card-title"> {{product.Product_Name}} </p>
                    <div class="clearfix mb-3"> <span class="float-start badge rounded bg-success">
                            {{product.Product_Price}} $</span>
                    </div>
                    <h5 class="card-title"> {{product.Product_Description}} </h5>
                    <div class="text-center my-4">
                        <a [routerLink]="['product', product.Product_Name]" class="btn btn-warning"
                            (click)="sendProductDetails(product)">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>